<div class="container">
    <h1>Sandbox</h1>
    <p>Simple example to use ngb-input</p>
    <form>
        <ngb-input id="test" name="test" [(ngModel)]="tests[0]"></ngb-input>
    
        <p>Example with custom label</p>
        <ngb-input id="test" name="test" [(ngModel)]="tests[1]" label="Write something"></ngb-input>

        <p>Another example with text required and validated</p>
        <ngb-input id="test" name="test" [(ngModel)]="tests[2]" label="Text required" [required]="true"></ngb-input>

        <p>You can add a custom message in the validator</p>
        <ngb-input id="test" name="test" [(ngModel)]="tests[3]" label="Text required" [required]="true" requiredError="You must add a value in this field"></ngb-input>
    </form>
</div>