<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-lg-2 bd-sidebar">
            <nav class="toc py-3">
                <div class="toc-item">
                    <ul class="nav flex-column">
                        <li><a class="toc-link" routerLink="/input-examples">ngb-input</a></li>
                        <li><a class="toc-link" routerLink="/dropdown-examples">ngb-dropdown</a></li>
                        <li><a class="toc-link" routerLink="/file-examples">ngb-file</a></li>
                        <li><a class="toc-link" href="javascript:void(0)">*ngb-search</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-12 col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
